<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened fixedInViewport="true">
    <mat-toolbar>Manage your list!</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/new" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async;">Create New Task</a>
      <a mat-list-item routerLink="/completed" routerLinkActive="active" *ngIf="auth.isAuthenticated$ | async;">Completed Tasks</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>To-Do App</span>
      <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <span style="position: sticky; left: 70%" *ngIf="auth.user$ | async as user">{{user.sub}}</span>
        <button type="button" style="left: 70%" aria-label="Logout" mat-button (click)="auth.logout()">Log out</button>
      </ng-container>
      <ng-template #loggedOut>
        <button type="button" style="left: 80%" aria-label="Login" mat-button (click)="auth.loginWithRedirect()">Log in</button>
      </ng-template>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
